/*Bonny Guang, July 2010*/
/*CSS Sheet for ADAM*/
body,
html {
    margin:0;
    padding:0;
    color:#000;
}
#wrap {
    margin:0 auto;
/*    background-image: url('dna_pale_blue.png');*/
    background-size: 100%;
    /* b/c Firefox3.6 and Safari3 don't have background-size implemented */
    /* Might as well include Konquerer too */
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -khtml-background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
/*    background-image: url('http://dvd.vbi.vt.edu/gradient.gif');*/
/* this stuff was originally in the dvd code... not sure if it's still necessary */
/*    padding: 0px;
    spacing: 10px;
    border: 0px;*/
}
/* VBI Logo and Title */
#header {
    width:1024px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}
/* Text Explanation */
#nav { text-align: justify; }

/* Main Block: Input Functions and State/Node Number; Also Output */
#main {
    float:center;
    width:1024px;
    margin-left: auto;
    margin-right: auto;
/*    background:#9c9;*/ /*will be green for debugging purposes*/
}
#sidebar {
    float:right;
    width:20%;
    background:#c9c; /*will be purple for debugging purposes*/
}
#computation { clear: both; }
#footer {
    float:center;
    width:1024px;
    margin-left: auto;
    margin-right: auto;
    font-size: .8em;
    text-align: center;
}
div
{
font-family: Verdana, Arial;
style: position:absolute;
/*visibility: hidden;
z-index: 100;*/
}
/* Controls main color and size of boxes. Currently pale gray-ish */
#main table
{
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ABABAB;
    background-color: #CCCCCC;
    width: 100%;
    border-spacing: 0px;
    padding: 1px;
}
/* Controls sidebar color and size of boxes. Currently pale gray-ish */
#sidebar table
{
    border: 1px solid #ABABAB;
    background-color: #F1F1F1;
    width: 100%;
    border-spacing: 0px;
    padding: 1px;

}
/* Controls color of the title boxes. Currently some kind of pale blue. */
td.titleBox
{
background-color: #99C9FF;
white-space: nowrap;
}
/* Creates those little gray lines dividing each section */
tr.lines td {
background-color: #DCDCDC;
height: 1px;
}
/* For explanation boxes */
td.explain {
    width: 40%;
    font-size: 12px;
}
