/*Bonny Guang, July 2010*/
/*CSS Sheet for ADAM*/
body, html {
    margin:0;
    padding:0;
    color:#000;
    float: center;
    margin: auto;
    width:1024px;
}

#intro{
	text-align: justify; 
}

#wrap {
    margin:0 auto;
    background-size: 100%;
}

/* VBI Logo and Title */
#header {
    float: center;
    margin: auto;
    width:1024;
    padding: 5px;
}
#header table {
   margin-left: auto;
   margin-right: auto;
}

/* Text Explanation */
.navigation { text-align: justify; }

/* Main Block: Input Functions and State/Node Number; Also Output */

table{
    float: center;
    margin: auto;
   
    text-align: justify;
}
#footer {
    float:center;
    margin-left: auto;
    margin-right: auto;
    font-size: .8em;
    text-align: center;
}

form {
	/*background-color: blue; */
}


.waiting {
	color: red;
}

.results {
	/*background-color: green;*/
	color: green;
}

.allSelections {
	border: 1px solid black;
}



#inputs  th  {
	text-align: center;
	vertical-align: top;
	background-color: #99C9FF;
	white-space: nowrap;
}

#notTT {
		background-color: red;
}

#inputs td {
	width: 512px;
	vertical-align: top;
}

#modelInput {
	width: 480px;
    height: 120px;
    border: 3px solid #cccccc;
    padding: 5px;
	
}

#inputs table {
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #ABABAB;
	background-color: #CCCCCC;
	width: 100%;
	border-spacing: 0px;
	padding: 1px;
}

/* Creates those little gray lines dividing each section */
#inputs tr.lines td {
background-color: #DCDCDC;
height: 1px;
}


.hint {
	font-size: .8em;
	color: blue;
}


	
div
{
font-family: Verdana, Arial;
style: position:absolute;
}


