div
{
font-family: Verdana, Arial;
id: tipDiv;
style: position:absolute;
/*visibility: hidden;*/
}
table.box
{
background-color: #ABABAB;
padding: 1px;
align: center;
border-width: 0px;
border-spacing: 0px;
}
td.bigBox
{
background-color: #666666;
white-space: nowrap;
}
tr.lines td {
background-color: #DCDCDC;
height: 1px;
}